---
title: "IzucaDev"
layout: "layouts/default.njk"
---
{% include  'partials/dropmenu.njk'%}
<div class="min-h-screen lg:mx-0 mx-5">
    <img src="{{ '/images/projetos/benserBanner.png' | url}}" alt="" class="w-full">
    
    <div class="flex justify-between item">
        <h1 class="font-bold text-vermelho text-3xl lg:text-6xl">Grupo Benser</h1>
        <div class="flex gap-2">
            <img src="{{ '/images/techs/jsRed.png'}}" alt="Ícone Javascript" class="lg:w-16 w-10 lg:h-16 h-10">
            <img src="{{ '/images/techs/figmaRed.png'}}" alt="Ícone Figma" class="lg:w-12 w-6 lg:h-16 h-10">
            <img src="{{ '/images/techs/adonisRed.png'}}" alt="Ícone Adonis" class="lg:w-16 w-10 lg:h-16 h-10">
        </div>
    </div>

    <div class="flex flex-col gap-8 my-10">
        
        <article class="flex flex-col gap-2">
            <span class="font-bold text-2xl lg:text-3xl text-branco-900">Sobre o Projeto</span>
            <div class="bg-vermelho w-36 h-2"></div>
            <p class="text-1xl text-branco-600">Nesse projeto da Empresa Júnior, Code Tower, criamos um sistema web que se comunica com o crm da empresa, onde o usuário poderá consultar e realizar pedidos de compras.
            <br><br>
            Através de uma API do BLING CRM, criamos um site onde o usuário pode consultar os produtos a vendas e com a quantidade em estoque. Ao realizar a compra, é enviado um pedido ao CRM por qual o vendedor, com os dados do cliente, entrará em contato para finalizar a compra.</p>
        </article>
        
        <article class="flex flex-col gap-2">
            <span class="font-bold text-2xl lg:text-3xl text-branco-900">Desafios enfrentados</span>
            <div class="bg-vermelho w-56 h-2"></div>
            <p class="text-1xl text-branco-600">Gerenciar uma equipe com pouca experiência e backgrounds diferentes, lidar com uma API com limites estritos e economizar as suas requisições e capacitar a equipe para utilizarem a stack escolhida foram os principais desafios que tivemos.</p>
        </article>
        
        <article class="flex flex-col gap-2">
            <span class="font-bold text-2xl lg:text-3xl text-branco-900">O que eu aprendi</span>
            <div class="bg-vermelho w-44 h-2"></div>
            <p class="text-1xl text-branco-600">Me orgulho bastante desse projeto, pois nele não só pude aprender sobre liderança, comunicação e gerência de projetos, como também pude crescer como desenvolvedor.
            <br><br>
            No início desse projeto, nem tinha noção do que se tratava uma API ao certo. Agora, não só sei o que é, mas como também consigo testá-la e implementá-la junto com o backend do projeto. Além disso, melhorei bastante na solução de problemas e em sua pesquisa, agora entendia melhor como tirar dúvidas acerca de problemas ou funções que não tenho pleno conhecimento.
            </p>
        </article>
        
        <div><a href="https://grupobenser.com" class="btn bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho">Acesse o site</a></div>
    </div>
</div>