---
title: "IzucaDev"
layout: "layouts/default.njk"
---
{% include  'partials/hero.njk'%}
{% include  'partials/about.njk'%}
{% include  'partials/habilidades.njk'%}
{% include  'partials/contact.njk'%}