---
title: "IzucaDev"
layout: "layouts/default.njk"
---
{% include  'partials/dropmenu.njk'%}
<div class="min-h-screen lg:mx-0 mx-5">
    <img src="{{ '/images/projetos/banner.png' | url}}" alt="" class="w-full  ">
    
    <div class="flex justify-between">
        <h1 class="font-bold text-vermelho text-3xl lg:text-6xl">My First Game</h1>
        <div class="flex">
            <img src="{{ '/images/techs/adobeRed.png'}}" alt="Ícone Adobe" class="lg:w-16 w-10 lg:h-16 h-10">
        </div>
    </div>

    <div class="flex flex-col gap-8 my-10">
        
        <article class="flex flex-col gap-2">
            <span class="font-bold text-2xl lg:text-3xl text-branco-900">Sobre o Projeto</span>
            <div class="bg-vermelho w-36 h-2"></div>
            <p class="text-1xl text-branco-600">Esse é o projeto MyFirstGame feito por mim, no final do 1º Período. O MyFirstGame consiste em um jogo feito em Basic no App Game Kit(AGK).
            <br><br>
            Nesse projeto, foi criado uma cópia do jogo flappy bird, o Dr. Floppy. Dr.Floppy é um pássaro-doutor de I.A do Insituto Federal de Goiás e ele se atrasou para o seu seminário e agora se aventura por um atalho perigoso para chegar à tempo para a sua palestra.</p>
        </article>
        
        <article class="flex flex-col gap-2">
            <span class="font-bold text-2xl lg:text-3xl text-branco-900">Desafios enfrentados</span>
            <div class="bg-vermelho w-56 h-2"></div>
            <p class="text-1xl text-branco-600">Passar a lógica do jogo do papel para o código foi uma das maiores dificuldades. Além dessa, funções da engine que não funcionavam e até mesmo bugs me tiraram da zona de conforto, abrindo espaço para minha criatividade e claro, gambiarras.</p>
        </article>
        
        <article class="flex flex-col gap-2">
            <span class="font-bold text-2xl lg:text-3xl text-branco-900">O que eu aprendi</span>
            <div class="bg-vermelho w-44 h-2"></div>
            <p class="text-1xl text-branco-600">Este foi um dos projetos mais divertidos que já fiz na faculdade. Os bugs, as gambiarras de chernobyl e as gargalhadas que dei ao me deparar com tais situações tornaram o meu processo de aprendizado muito divertido.
            <br><br>
            Pude reforçar bastante as minhas noções de algoritmos e entender melhor como é o processo de desenvolvimento de um jogo.
            </p>
        </article>
        
        <div><a href="https://github.com/izuca/MyFirstGame" class="btn bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho">Repositório no Github</a></div>
    </div>
</div>