---
title: "IzucaDev"
layout: "layouts/default.njk"
---
<div class="min-h-screen flex flex-col justify-center items-center gap-2">
    <h1 class="font-bold text-9xl text-center text-branco-900">Obrigado</h1>
    <h2 class="font-bold text-5xl text-center text-branco-900">A sua mensagem foi enviada!</h1>
    <p class="text-3xl text-center">Estarei respondendo-a em breve.</p>
    <a href="/" class="btn bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho mt-10">Continuar Navegando</a>
</div>