<div id="sobreMim" class="min-h-screen xl:my-0 my-32 xl:scale-75 2xl:scale-100">
    
    <h1 id="about" class=" sm:text-4xl text-2xl text-center xl:text-left xl:text-6xl font-bold text-branco-900 bg-vermelho  xl:-translate-y-0  mx-12 xl:w-981p xl:pl-8 xl:pt-4 py-2 xl:pb-60 xl:-translate-x-10 2xl:translate-x-40 ">Sobre mim</h1>

    {# Background #}
    <div class="flex justify-center xl:-translate-y-56">
        <div class="flex bg-preto-700 flex-col mx-5 sm:w-full md:w-full xl:w-auto">
        
            {# Informações principais e imagem #}
            <div class="flex flex-col-reverse xl:flex-row  xl:gap-36 xl:h-100p">
        
                {# Informações principais #}
                <div class="flex flex-col  xl:pl-16 xl:pt-9">
                    <h2 class="sm:text-6xl text-4xl font-bold text-branco-900 xl:text-left text-center ">Adriel Santos</h2>
                    <p class="text-branco-600 text-center text-xs sm:text-base xl:text-xl xl:text-left xl:w-96">Estagiário de TI no CREA-GO</p>
                    <span class=" text-base md:text-xl font-bold text-branco-600 mt-2 xl:mt-7 text-center xl:text-left">Idade: <span class="text-base md:text-xl font-bold text-branco-900">22 anos</span></span>
                    <span class=" text-base md:text-xl font-bold text-branco-600 mt-1 text-center xl:text-left">Línguas: <span class="text-base md:text-xl font-bold text-branco-900">Português e Inglês</span></span>
                    <div class=" flex my-6 xl:my-3 xl:justify-start justify-center">
                        <a href="{{ '/images/curriculo.pdf' | url}}" class="btn bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 sm:grow-0 grow hover:text-vermelho">Currículo</a>
                    </div>
                </div>
        
                {# Imagem #}
                <div class="flex flex-col xl:-translate-y-16 items-center xl:items-start xl:mb-0 mb-8 xl:mt-0 mt-8 w-fit">
                    <img class="z-10 transition duration-200 w-10/12 xl:w-11/12 2xl:w-auto hover:scale-105" src="images/about/eu.jpg" alt="Imagem Adriel">
                    <div>
                        <div class="w-60 h-4 md:w-96 xl:w-40 xl:h-40 bg-vermelho  xl:-translate-y-36 xl:-translate-x-4 z-0"></div>
                    </div>
                </div>
            </div>
        
            {# Formação e Interesses #}
            <div class="flex flex-col md:flex-row xl:justify-start md:justify-evenly md:items-center xl:items-start xl:gap-40 xl:h-72 mt-10">
        
                {# Formação #}
                <div class="flex flex-col xl:my-0 my-6 xl:pl-16 xl:-translate-y-28 ">
                    <div class="flex flex-col-reverse xl:flex-row items-center">
                        <div class="bg-vermelho w-52 h-4 xl:w-10 xl:h-10 -translate-y-4 xl:-translate-y-0 z-0"></div>
                        <h3 class="font-bold text-branco-900 text-4xl xl:-translate-x-7 z-10">Formação</h3>
                    </div>
                    <div class="flex flex-row xl:justify-start justify-center my-2 xl:my-6 transition duration-200 hover:translate-x-2">
                        <img src="images/about/ifg.png" class="xl:w-auto xl:h-auto w-12 h-13" alt="IF Logo">
                        <div class="flex flex-col ml-2 xl:ml-4">
                            <h3 class="font-bold xl:text-2xl text-branco-600">Instituto Federal de Goiás</h3>
                            <p class="font-bold xl:text-xl text-branco-900">Ciência da Computação</p>
                            <p class="font-bold xl:text-xl text-branco-900">(2021-2025)</p>
                        </div>
                    </div>
                    <div class="flex flex-row-reverse xl:justify-start justify-center my-6 transition duration-200 hover:-translate-x-2">
                        <img src="images/about/uni.png" alt="Unievangélica Logo" class="xl:w-auto xl:h-auto w-24 h-20">
                        <div class="flex flex-col mr-2 xl:mr-4">
                            <h3 class="font-bold xl:text-2xl text-right text-branco-600">Unievangélica</h3>
                            <p class="font-bold xl:text-xl text-right text-branco-900">Design Gráfico</p>
                            <p class="font-bold xl:text-xl text-right text-branco-900">(2019-2021)</p>
                        </div>
                    </div>
                </div>
        
                {# Interesses #}
                <div class="flex flex-col xl:mb-0 mb-12 xl:translate-y-16">
                    <div class="flex flex-col-reverse xl:flex-row items-center">
                        <div class="bg-vermelho w-52 h-4 xl:w-10 xl:h-10 -translate-y-4 xl:-translate-y-0 z-0"></div>
                        <h3 class="font-bold text-branco-900 text-4xl xl:-translate-x-7 z-10">Interesses</h3>
                    </div>
                    <div class="flex flex-row xl:my-6 xl:justify-start justify-center gap-3 xl:gap-8">
                        <img class="transition duration-200 hover:-translate-y-2 xl:w-auto w-12 xl:h-auto h-12" src="images/about/camera.png" alt="fotografia">
                        <img class="transition duration-200 hover:-translate-y-2 xl:w-auto w-12 xl:h-auto h-12" src="images/about/basket.png" alt="Basquete">
                        <img class="transition duration-200 hover:-translate-y-2 xl:w-auto w-13 xl:h-auto h-12" src="images/about/gamesIzuca.png" alt="Games">
                    </div>
        
                </div>
            </div>
        </div>
    </div>

</div>