<div class="min-h-screen">
    
    <h1 class=" text-6xl font-bold text-branco-900 bg-vermelho w-981p pl-8 pt-4 pb-60 2xl:translate-x-48">Sobre mim</h1>

    {# Background #}
    <div class="flex justify-center -translate-y-56">
        <div class="flex bg-preto-700 flex-col w-fit ">
        
            {# Informações principais e imagem #}
            <div class="flex flex-row gap-36 h-100p">
        
                {# Informações principais #}
                <div class="flex flex-col pl-16 pt-9">
                    <h2 class="text-6xl font-bold text-branco-900">Adriel Santos</h2>
                    <p class="text-branco-600 w-96">Ex Diretor de Projetos da Empresa Júnior de Computação, <a class="underline" href="">Code Tower</a></p>
                    <span class=" text-xl font-bold text-branco-600 mt-7">Idade: <span class=" text-xl font-bold text-branco-900">22 anos</span></span>
                    <span class=" text-xl font-bold text-branco-600 mt-1">Línguas: <span class=" text-xl font-bold text-branco-900">Português e Inglês</span></span>
                    <div class="my-3">
                        <button class="btn bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho">Currículo</button>
                    </div>
                </div>
        
                {# Imagem #}
                <div class="flex flex-col -translate-y-16">
                    <img class="z-10 transition duration-200 hover:scale-105" src="images/about/eu.png" alt="Imagem Adriel">
                    <div>
                        <div class="w-40 h-40 bg-vermelho -translate-y-36 -translate-x-4 z-0"></div>
                    </div>
                </div>
            </div>
        
            {# Formação e Interesses #}
            <div class="flex flex-row gap-40 h-72">
        
                {# Formação #}
                <div class="flex flex-col pl-16 -translate-y-28 ">
                    <div class="flex flex-row items-center">
                        <div class="bg-vermelho w-10 h-10"></div>
                        <h3 class="font-bold text-branco-900 text-4xl -translate-x-7">Formação</h3>
                    </div>
                    <div class="flex flex-row my-6 transition duration-200 hover:translate-x-2">
                        <img src="images/about/ifg.png" alt="IF Logo">
                        <div class="flex flex-col ml-4">
                            <h3 class="font-bold text-2xl text-branco-600">Instituto Federal de Goiás</h3>
                            <p class="font-bold text-xl text-branco-900">Ciência da Computação</p>
                            <p class="font-bold text-xl text-branco-900">(2021-2025)</p>
                        </div>
                    </div>
                    <div class="flex flex-row-reverse my-6 transition duration-200 hover:-translate-x-2">
                        <img src="images/about/uni.png" alt="Unievangélica Logo">
                        <div class="flex flex-col mr-4">
                            <h3 class="font-bold text-2xl text-right text-branco-600">Unievangélica</h3>
                            <p class="font-bold text-xl text-right text-branco-900">Design Gráfico</p>
                            <p class="font-bold text-xl text-right text-branco-900">(2019-2021)</p>
                        </div>
                    </div>
                </div>
        
                {# Interesses #}
                <div class="flex flex-col translate-y-16">
                    <div class="flex flex-row items-center">
                        <div class="bg-vermelho w-10 h-10"></div>
                        <h3 class="font-bold text-branco-900 text-4xl -translate-x-7">Interesses</h3>
                    </div>
                    <div class="flex flex-row my-6 gap-8">
                        <img class="transition duration-200 hover:-translate-y-2" src="images/about/camera.png" alt="fotografia">
                        <img class="transition duration-200 hover:-translate-y-2" src="images/about/basket.png" alt="Basquete">
                        <img class="transition duration-200 hover:-translate-y-2" src="images/about/gamesIzuca.png" alt="Games">
        
                    </div>
        
                </div>
            </div>
        </div>
    </div>

</div>