<div id="sobreMim" class="min-h-screen lg:mt-0 mt-72">
    
    <h1 id="about" class=" text-2xl text-center lg:text-left lg:text-6xl font-bold text-branco-900 bg-vermelho -translate-y-56 lg:-translate-y-0 lg:mx-0 mx-12 lg:w-981p lg:pl-8 lg:pt-4 py-2 lg:pb-60 2xl:translate-x-48 ">Sobre mim</h1>

    {# Background #}
    <div class="flex justify-center -translate-y-56">
        <div class="flex bg-preto-700 flex-col mx-5 lg:w-fit ">
        
            {# Informações principais e imagem #}
            <div class="flex flex-col-reverse lg:flex-row  lg:gap-36 lg:h-100p">
        
                {# Informações principais #}
                <div class="flex flex-col px-5 lg:pl-16 lg:pt-9">
                    <h2 class="lg:text-6xl text-4xl font-bold text-branco-900 lg:text-left text-center ">Adriel Santos</h2>
                    <p class="text-branco-600 text-center text-xs lg:text-lg lg:text-left lg:w-96">Ex Diretor de Projetos da Empresa Júnior de Computação, <a class="underline" href="">Code Tower</a></p>
                    <span class=" text-md lg:text-xl font-bold text-branco-600 mt-2 lg:mt-7 text-center lg:text-left">Idade: <span class="text-md lg:text-xl font-bold text-branco-900">22 anos</span></span>
                    <span class=" text-md lg:text-xl font-bold text-branco-600 mt-1 text-center lg:text-left">Línguas: <span class="text-md lg:text-xl font-bold text-branco-900">Português e Inglês</span></span>
                    <div class=" flex my-6 lg:my-3 lg:justify-start justify-center">
                        <a href="{{ '/images/curriculo.pdf' | url}}" class="btn bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 lg:grow-0 grow hover:text-vermelho">Currículo</a>
                    </div>
                </div>
        
                {# Imagem #}
                <div class="flex flex-col lg:-translate-y-16 items-center lg:items-start lg:mb-0 mb-8 lg:mt-0 mt-8">
                    <img class="z-10 transition duration-200 w-10/12 lg:w-auto hover:scale-105" src="images/about/eu.png" alt="Imagem Adriel">
                    <div>
                        <div class="w-60 h-4 lg:w-40 lg:h-40 bg-vermelho  lg:-translate-y-36 lg:-translate-x-4 z-0"></div>
                    </div>
                </div>
            </div>
        
            {# Formação e Interesses #}
            <div class="flex flex-col lg:flex-row lg:gap-40 lg:h-72">
        
                {# Formação #}
                <div class="flex flex-col lg:my-0 my-6 lg:pl-16 lg:-translate-y-28 ">
                    <div class="flex flex-col-reverse lg:flex-row items-center">
                        <div class="bg-vermelho w-52 h-4 lg:w-10 lg:h-10 -translate-y-4 lg:-translate-y-0 z-0"></div>
                        <h3 class="font-bold text-branco-900 text-4xl lg:-translate-x-7 z-10">Formação</h3>
                    </div>
                    <div class="flex flex-row lg:justify-start justify-center my-2 lg:my-6 transition duration-200 hover:translate-x-2">
                        <img src="images/about/ifg.png" class="lg:w-auto lg:h-auto w-12 h-13" alt="IF Logo">
                        <div class="flex flex-col ml-2 lg:ml-4">
                            <h3 class="font-bold lg:text-2xl text-branco-600">Instituto Federal de Goiás</h3>
                            <p class="font-bold lg:text-xl text-branco-900">Ciência da Computação</p>
                            <p class="font-bold lg:text-xl text-branco-900">(2021-2025)</p>
                        </div>
                    </div>
                    <div class="flex flex-row-reverse lg:justify-start justify-center my-6 transition duration-200 hover:-translate-x-2">
                        <img src="images/about/uni.png" alt="Unievangélica Logo" class="lg:w-auto lg:h-auto w-24 h-20">
                        <div class="flex flex-col mr-2 lg:mr-4">
                            <h3 class="font-bold lg:text-2xl text-right text-branco-600">Unievangélica</h3>
                            <p class="font-bold lg:text-xl text-right text-branco-900">Design Gráfico</p>
                            <p class="font-bold lg:text-xl text-right text-branco-900">(2019-2021)</p>
                        </div>
                    </div>
                </div>
        
                {# Interesses #}
                <div class="flex flex-col lg:mb-0 mb-12 lg:translate-y-16">
                    <div class="flex flex-col-reverse lg:flex-row items-center">
                        <div class="bg-vermelho w-52 h-4 lg:w-10 lg:h-10 -translate-y-4 lg:-translate-y-0 z-0"></div>
                        <h3 class="font-bold text-branco-900 text-4xl lg:-translate-x-7 z-10">Interesses</h3>
                    </div>
                    <div class="flex flex-row lg:my-6 lg:justify-start justify-center gap-3 lg:gap-8">
                        <img class="transition duration-200 hover:-translate-y-2 lg:w-auto w-12 lg:h-auto h-12" src="images/about/camera.png" alt="fotografia">
                        <img class="transition duration-200 hover:-translate-y-2 lg:w-auto w-12 lg:h-auto h-12" src="images/about/basket.png" alt="Basquete">
                        <img class="transition duration-200 hover:-translate-y-2 lg:w-auto w-13 lg:h-auto h-12" src="images/about/gamesIzuca.png" alt="Games">
                    </div>
        
                </div>
            </div>
        </div>
    </div>

</div>