<div id="menu" class="bg-preto-900 z-20 top-0 flex-col min-h-screen gap-10 justify-center sticky items-center hidden">
      <a href="/" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Home</a>
      <a href="/#about" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Sobre Mim</a>
      <a href="/#mySkills" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Habilidades</a>
      <a href="/#myProjects" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Projetos</a>
      <a href="/#myContact" class='text-branco-900 no-underline text-4xl hover:bg-vermelho hover:text-branco-900 font-bold'>Contato</a>
    </div>