<div class="bg-preto-900  flex-col min-h-screen gap-5 justify-center items-center hidden">
      <a href="/" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Home</a>
      <a id="aboutMe" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Sobre Mim</a>
      <a id="skills" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Habilidades</a>
      <a id="projects" class='text-vermelho no-underline text-4xl hover:bg-transparent hover:text-branco-900 font-bold'>Projetos</a>
      <a id="contact" class='text-branco-900 no-underline text-4xl hover:bg-vermelho hover:text-branco-900 font-bold'>Contato</a>
    </div>