<footer class="footer items-center gap-0 bg-vermelho text-neutral-content  px-28 py-9">
  <div class="items-center grid-flow-col">
    <a class="text-branco-900 text-4xl font-bold ">Izuca</a>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-center">
    <a href="https://github.com/izuca"><img src="images/footer/githubCircular.png" alt="github" class="w-10"></a>
    <a href="https://www.behance.net/adrielferreira1"><img src="images/footer/behanceCircular.png" alt="behance" class="w-10"></a>
    <a href="https://www.linkedin.com/in/adrielferreira/"><img src="images/footer/linkedinCircular.png" alt="linkedin" class="w-10"></a>
    <a href="https://www.instagram.com/adriel3301/"><img src="images/footer/instaCircular.png" alt="instagram" class="w-10"></a>
  </div>
  <div class="grid-flow-col md:place-self-center md:justify-self-end">
    <p class="text-branco-900 text-xl">Criado por <a href="https://github.com/izuca" class="underline">mim mesmo</a> hehe</p>
  </div>
</footer>