<div  class="min-h-screen">
    <div id="habilidades" class="flex flex-col">
        <h1 id="mySkills" class="text-branco-900 font-bold text-7xl">Habilidades</h1>
        <div class="bg-vermelho w-72 h-3"></div>
        {# Linha 1 #}
        <div class="flex flex-row justify-between my-32">
            <div class="bg-preto-700 w-22p px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/figmaRed.png" alt="Figma Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">Figma</span>
                    <p class="text-center text-branco-900 w-11/12">
                        Figma é um editor gráfico
                        de vetor e prototipagem
                        de projetos de design baseado principalmente
                        no navegador web.
                    </p>
                </div>
            </div>

            <div class="bg-preto-700 w-22p h-11/12 px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/adobeRed.png" alt="Adobe Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">Design Gráfico</span>
                    <p class="text-center text-branco-900 w-11/12">
                        Noções de Design além de programas do pacote Adobe como Photoshop, Illustrator, Premiere Pro, After Effects e Adobe XD.
                    </p>
                </div>
            </div>

            <div class="bg-preto-700 w-22p h-11/12 px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/jsRed.png" alt="Javascript Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">Javascript</span>
                    <p class="text-center text-branco-900 w-11/12">
                        JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma.
                    </p>
                </div>
            </div>

            <div class="bg-preto-700 w-22p h-11/12 px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/htmlRed.png" alt="Html vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">HTML</span>
                    <p class="text-center text-branco-900 w-11/12 mt-2">
                        HTML é uma linguagem de marcação utilizada na construção de páginas na Web.
                    </p>
                </div>
            </div>
            
        </div>
        
        {# Linha 2 #}
        <div class="flex flex-row justify-between mb-32">
            <div class="bg-preto-700 w-22p px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/cssRed.png" alt="CSS Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">CSS</span>
                    <p class="text-center text-branco-900 w-11/12">
                        Cascading Style Sheets é um mecanismo para adicionar estilos a uma página web, aplicado diretamente nas tags HTML ou ficar contido dentro das tags style.
                    </p>
                </div>
            </div>

            <div class="bg-preto-700 w-22p h-11/12 px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/tailwindRed.png" alt="Tailwind Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">Tailwind CSS</span>
                    <p class="text-center text-branco-900 w-11/12 mt-6">
                        Tailwind CSS é um framework de CSS  com classes pré-definidas.
                    </p>
                </div>
            </div>

            <div class="bg-preto-700 w-22p h-11/12 px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/reactRed.png" alt="React Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">React JS</span>
                    <p class="text-center text-branco-900 w-11/12">
                        O React é uma biblioteca front-end JavaScript de código aberto com foco em criar interfaces de usuário em páginas web.
                    </p>
                </div>
            </div>

            <div class="bg-preto-700 w-22p h-11/12 px-2 hover:-translate-y-6 transition duration-200">
                <div class="flex flex-col items-center gap-2 -translate-y-10">
                    <img src="/images/techs/adonisRed.png" alt="Adonis Vermelho">
                    <span class="text-center text-branco-900 font-bold text-3xl">Adonis JS</span>
                    <p class="text-center text-branco-900 w-11/12 mt-4">
                        Adonis JS é um framework full-stack de Node.js com foco em desenvolvimento rápido e ergonômico.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>