<div class="hero min-h-screen mx-12 my-16">
  <div id="hero" class="hero-content flex-col gap-0 lg:flex-row items-center relative">
    <div class="bg-preto-700 relative z-10">
        <div class="flex justify-center rounded-full ring-8 ring-vermelho/[.25] ring-offset-vermelho/[.0] ring-offset-8 absolute -top-40 left-8 ">
            <img src="images/hero/adriel.png" class="max-w-sm rounded-full outline outline-4 outline-vermelho w-72" />
        </div>
        <div class="flex flex-col justify-center w-80 mx-4 mt-36 gap-1 pt-4">
            <div class="flex justify-center items-end gap-1">
                <h3 class="text-branco-900 font-bold text-4xl text-center">Adriel Santos</h3>
                <p class="text-branco-900 font-bold text-1xl text-center">lvl. 22</p>
            </div>
            <p class="text-center text-branco-600">(Também conhecido como Izuca)</p>
            <p class="text-center text-vermelho font-bold">Anápolis, Goiás</p>
            <div class="flex gap-3 pb-9 pt-9 justify-center">
                <a href="https://github.com/izuca"><img src="images/hero/Github.png" alt="github" class="w-10 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                <a href="https://www.behance.net/adrielferreira1"><img src="images/hero/Behance.png" alt="behance" class="w-10 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                <a href="https://www.linkedin.com/in/adrielferreira/"><img src="images/hero/Linkedin.png" alt="linkedin" class="w-10 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                <a href="https://www.instagram.com/adriel3301/"><img src="images/hero/Insta.png" alt="instagram" class="w-10 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
            </div>
        </div>
    </div>
    <div class="bg-vermelho pl-72 pr-12 pt-10 pb-12 relative -left-36 -top-12 z-0 ">
      <h2 class="py-1 text-preto-700 font-bold text-2xl">Opa, tudo bem?</h2>
      <h1 class="text-6xl font-bold text-branco-900">Aqui é o Adriel</h1>
      <p class="py-6 text-branco-600 text-xl">Sou estudante de Ciência da Computação no <br> Instituto Federal de Goiás e estou sempre buscando <br> aprender novas formas desenvolver sites!</p>
      <a id="aboutMe"class="btn bg-preto-700 text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho" >Sobre mim</a>
    </div>
  </div>
</div>
