<div class="xl:hero xl:min-h-screen mx-5 xl:mx-12 xl:mt-0 mt-44 xl:my-12 xl:scale-75 2xl:scale-100">
  <div id="hero"class="hero-content flex-col gap-0  md:flex-row  xl:flex-row items-center p-0">
    {# card #}
    <div class="bg-preto-700 z-10 xl:h-96 h-60 md:translate-x-20 xl:translate-x-0">
        <div class="-translate-y-36 flex flex-col gap-2">
          <div class="flex justify-center rounded-full ">
              <img src="images/hero/adriel.png" alt="Imagem Adriel" class="max-w-sm rounded-full ring-8 ring-vermelho/[.25] ring-offset-vermelho/[.0] ring-offset-8 outline outline-4 outline-vermelho xl:w-72 w-48" />
          </div>
          <div class="flex flex-col justify-center xl:w-80 w-64 xl:mx-4 xl:gap-1 pt-4">
              <div class="flex justify-center items-end gap-1">
                  <h3 class="text-branco-900 font-bold  text-2xl xl:text-4xl text-center">Adriel Santos</h3>
                  <p class="text-branco-900 font-bold xl:text-1xl text-md text-center">lvl. 22</p>
              </div>
              <p class="text-center text-branco-600 xl:text-xl text-sm">(destruidor de códigos)</p>
              <p class="text-center text-vermelho font-bold text-sm xl:text-xl">Anápolis, Goiás</p>
              <div class="flex xl:gap-3 gap-2 xl:pb-9 pt-9 justify-center">
                  <a href="https://github.com/izuca"><img src="images/hero/Github.png" alt="github" class="xl:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                  <a href="https://www.behance.net/adrielferreira1"><img src="images/hero/Behance.png" alt="behance" class="xl:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                  <a href="https://www.linkedin.com/in/adrielferreira/"><img src="images/hero/Linkedin.png" alt="linkedin" class="xl:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                  <a href="https://www.instagram.com/adriel3301/"><img src="images/hero/Insta.png" alt="instagram" class="xl:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                </div>
          </div>
        </div>
    </div>
    {# info #}
    <div class="bg-vermelho xl:pl-72 md:pl-44 md:pr-12 xl:pr-16 pt-10 md:pt-8 xl:pt-10 pb-4 md:pb-8 xl:pb-12 z-0 -translate-y-12 md:-translate-y-16 xl:-translate-y-16 md:-translate-x-16 xl:-translate-x-36 flex flex-col justify-center">
      <h2 class="xl:py-1 pt-6 md:pt-0 xl:pt-6 text-preto-700 font-bold text-xl xl:text-2xl text-center xl:text-left md:text-left">Opa, tudo bem?</h2>
      <h1 class="text-3xl xl:text-6xl font-bold text-branco-900 text-center xl:text-left md:text-left">Aqui é o Adriel</h1>
      <p class="xl:py-6 py-3 mx-3 md:mx-0 xl:mx-0 xl:font-normal text-branco-600 text-smallp xl:text-xl text-center xl:text-left md:text-left">Sou estudante de Ciência da Computação no <br> Instituto Federal de Goiás e estou sempre buscando <br> aprender novas formas desenvolver sites!</p>
      <div class="flex justify-center xl:justify-start md:justify-start">
        <a href="/#about" id="aboutMe"class="btn bg-preto-700 text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho md:grow-0 grow md:mx-0 mx-6 text-xs xl:text-md" >Sobre mim</a>
        </div>
    </div>
  </div>
</div>

