<div class="lg:hero lg:min-h-screen mx-5 lg:mx-12 lg:mt-0 mt-44 lg:my-12">
  <div id="hero"class="hero-content flex-col gap-0 lg:flex-row items-center relative p-0">
    {# card #}
    <div class="bg-preto-700 relative z-10 lg:h-96 h-60">
        <div class="-translate-y-36 flex flex-col gap-2">
          <div class="flex justify-center rounded-full ">
              <img src="images/hero/adriel.png" class="max-w-sm rounded-full ring-8 ring-vermelho/[.25] ring-offset-vermelho/[.0] ring-offset-8 outline outline-4 outline-vermelho lg:w-72 w-48" />
          </div>
          <div class="flex flex-col justify-center lg:w-80 w-64 lg:mx-4 lg:gap-1 pt-4">
              <div class="flex justify-center items-end gap-1">
                  <h3 class="text-branco-900 font-bold  text-2xl lg:text-4xl text-center">Adriel Santos</h3>
                  <p class="text-branco-900 font-bold lg:text-1xl text-md text-center">lvl. 22</p>
              </div>
              <p class="text-center text-branco-600 lg:text-lg text-sm">(Também conhecido como Izuca)</p>
              <p class="text-center text-vermelho font-bold text-sm lg:text-lg">Anápolis, Goiás</p>
              <div class="flex lg:gap-3 gap-2 lg:pb-9 pt-9 justify-center">
                  <a href="https://github.com/izuca"><img src="images/hero/Github.png" alt="github" class="lg:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                  <a href="https://www.behance.net/adrielferreira1"><img src="images/hero/Behance.png" alt="behance" class="lg:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                  <a href="https://www.linkedin.com/in/adrielferreira/"><img src="images/hero/Linkedin.png" alt="linkedin" class="lg:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                  <a href="https://www.instagram.com/adriel3301/"><img src="images/hero/Insta.png" alt="instagram" class="lg:w-10 w-9 transition duration-200 hover:brightness-[100.0] hover:grayscale"></a>
                </div>
          </div>
        </div>
    </div>
    {# info #}
    <div class="bg-vermelho lg:pl-72 lg:pr-12 pt-10 pb-4 lg:pb-12 z-0 -translate-y-12 lg:-translate-y-16 lg:-translate-x-36 flex flex-col justify-center">
      <h2 class="lg:py-1 pt-6 text-preto-700 font-bold text-lg lg:text-2xl text-center lg:text-left">Opa, tudo bem?</h2>
      <h1 class="text-3xl lg:text-6xl font-bold text-branco-900 text-center lg:text-left">Aqui é o Adriel</h1>
      <p class="lg:py-6 py-3 mx-3 lg:mx-0 lg:font-normal text-branco-600 text-smallp lg:text-xl text-center lg:text-left">Sou estudante de Ciência da Computação no <br> Instituto Federal de Goiás e estou sempre buscando <br> aprender novas formas desenvolver sites!</p>
      <div class="flex justify-center lg:justify-start">
        <a href="http://localhost:8080/#about" id="aboutMe"class="btn bg-preto-700 text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho lg:grow-0 grow lg:mx-0 mx-6 text-xs lg:text-md" >Sobre mim</a>
        </div>
    </div>
  </div>
</div>
