<div class="navbar lg:px-0 px-5">
  <div class="flex-1">
    <a href="/" class="normal-case text-2xl lg:text-4xl text-vermelho no-underline font-bold duration-200 transition hover:-translate-y-1">Izuca</a>
  </div>
  <div class="flex-none">
    <button id="dropdown"class="btn bg-preto-900 border-none rounded-none hover:bg-branco-900 hover:text-vermelho lg:hidden" >
      <img src="{{'/images/menu.png' | url}}" alt="Ícone Sanduiche">
    </button>
    
    
    <ul class="menu menu-horizontal hidden lg:flex px-1">
      <li><a href="/#about"id="aboutMe" class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Sobre Mim</a></li>
      <li><a href="/#mySkills"id="skills" class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Habilidades</a></li>
      <li><a href="/#myProjects" id="projects" class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Projetos</a></li>
      <li><a href="/#myContact" id="contact" class='text-branco-900 no-underline text-xl hover:bg-vermelho hover:text-branco-900'>Contato</a></li>
    </ul>
  </div>
</div>