<div class="navbar ">
  <div class="flex-1  ">
    <a href="/" class="normal-case text-4xl text-vermelho no-underline font-bold duration-200 transition hover:-translate-y-1">Izuca</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Sobre Mim</a></li>
      <li><a class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Habilidades</a></li>
      <li><a class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Projetos</a></li>
      <li ><a class='text-branco-900 no-underline text-xl hover:bg-vermelho hover:text-branco-900'>Contato</a></li>
    </ul>
  </div>
</div>