<div class="navbar lg:px-0 px-5">
  <div class="flex-1">
    <a href="/" class="normal-case text-2xl lg:text-4xl text-vermelho no-underline font-bold duration-200 transition hover:-translate-y-1">Izuca</a>
  </div>
  <div class="flex-none">
    <div id="dropdown" class="btn bg-transparent lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </div>
    
    <ul class="menu menu-horizontal hidden lg:flex px-1">
      <li><a id="aboutMe" class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Sobre Mim</a></li>
      <li><a id="skills" class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Habilidades</a></li>
      <li><a id="projects" class='text-vermelho no-underline text-xl hover:bg-transparent hover:text-branco-900'>Projetos</a></li>
      <li><a id="contact" class='text-branco-900 no-underline text-xl hover:bg-vermelho hover:text-branco-900'>Contato</a></li>
    </ul>
  </div>
</div>