
<div class="flex justify-center mb-60">
    <div id="projetos" class="flex-col justify-center">
        <h1 id="myProjects" class="bg-vermelho py-3 px-20 w-96 font-bold text-5xl text-branco-900" style="box-shadow:10px 10px #1A1A1A, 20px 20px #F2F2F2b3;">Projetos</h1>
        <div class="bg-vermelho  pt-20 pl-20 w-75p flex flex-col" style="box-shadow:10px 10px #1A1A1A, 20px 20px #F2F2F2b3;">
            <div class="flex gap-3">
                <a href="https://github.com/izuca" class="flex bg-preto-700 py-3 px-14 items-center gap-2 transition duration-200 hover:-translate-y-2">
                    <img  src="images/projetos/githubProjeto.png" alt="Ícone Github Branco">
                    <p class="text-branco-900 font-normal">Acesse o meu Github</p>
                </a>
                <a href="https://www.behance.net/adrielferreira1" class="flex bg-preto-700 py-3 px-14 items-center gap-2 duration-200 hover:-translate-y-2">
                    <img src="images/projetos/behanceProjeto.png" alt="Ícone Behance Branco">
                    <p class="text-branco-900 font-normal">Acesse o meu Behance</p>
                </a>
            </div>
            <div class="flex py-14 gap-9">
                
                <div class="w-80 h-120p bg-preto-700 overflow-clip ">
                    <div  class="flex flex-col hover:-translate-y-56 transition duration-200">
                        <img src="images/projetos/benser.png" alt="Site Grupo Benser">
                        <div class="flex flex-col h-80 pt-3 justify-between">
                            <div>
                                <span class="font-bold text-2xl text-branco-900 pl-4">Grupo Benser</span>
                                <p class="text-branco-900 px-4 mt-3 text-sm">Nesse projeto da Empresa Júnior, Code Tower, criamos um sistema web que se comunica com o crm da empresa, onde o usuário poderá consultar e realizar pedidos de compras.</p>
                            </div>
                            <div class="flex px-4 pb-16 justify-between">
                                <div class="flex gap-2">
                                    <img class="h-8" src="images/techs/jsRed.png" alt="Ícone Javascript">
                                    <img class="h-8" src="images/techs/figmaRed.png" alt="Ícone Figma">
                                    <img class="h-8" src="images/techs/adonisRed.png" alt="Ícone Adonis">
                                </div>
                                <div class="flex">
                                    <a href="/benser" class="transition duration-200 bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho w-20 h-8 text-xs text-center py-2 ">Ver mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-80 h-120p bg-preto-700 overflow-clip ">
                    <div  class="flex flex-col hover:-translate-y-56 transition duration-200">
                        <img src="images/projetos/TecMed.png" alt="projeto">
                        <div class="flex flex-col h-80 pt-3 justify-between">
                            <div>
                                <span class="font-bold text-2xl text-branco-900 py-3 pl-4">Projeto TecMed</span>
                                <p class="text-branco-900 px-4 mt-3 text-sm">User interface de um aplicativo de telemedicina criado durante o processo seletivo da Code Tower EJ.</p>
                            </div>
                            <div class="flex px-4 pb-16 justify-between">
                                <div class="flex gap-2">
                                    <img class="h-8" src="images/techs/adobeRed.png" alt="Ícone Adobe">
                                    <img class="h-8" src="images/techs/figmaRed.png" alt="Ícone Figma">
                                </div>
                                <div class="flex">
                                    <a href="/tecmed" class="transition duration-200 bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho w-20 h-8 text-xs text-center py-2 ">Ver mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-80 h-120p bg-preto-700 overflow-clip ">
                    <div  class="flex flex-col hover:-translate-y-56 transition duration-200">
                        <img src="images/projetos/MyFirstGame.png" alt="projeto">
                        <div class="flex flex-col h-80 pt-3 justify-between">
                            <div>
                                <span class="font-bold text-2xl text-branco-900 py-3 pl-4">My First Game</span>
                                <p class="text-branco-900 px-4 mt-3 text-sm">Projeto feito no final do 1º período. Consiste em um jogo feito em Basic na engine App Game Kit </p>
                            </div>
                            <div class="flex px-4 pb-16 justify-between">
                                <div class="flex gap-2">
                                    <img class="h-8" src="images/techs/adobeRed.png" alt="Ícone Adobe">
                                </div>
                                <div class="flex">
                                    <a href="/myfirstgame" class="transition duration-200 bg-vermelho text-branco-900 rounded-none font-normal hover:bg-branco-900 hover:text-vermelho w-20 h-8 text-xs text-center py-2 ">Ver mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>
